<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <style>
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #000000;
            margin-left: 10%;
            margin-right: 10%;
            border: 2px solid aqua;
        }
        html {
            background-color: #000000;
            color: white;
            
        }
        .mytitle {
            font-size: 24px;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }
        .mylinks {
            list-style-type: none;
        }
        .mylinks li {
            display: inline-block;
            
        }
        .mylinks a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            /* font-size: 1.5rem; */
            /* font-size: clamp(0.01rem, 4vw, 1.8rem); */
            font-size: 20px;
        }

        @media (max-width: 768px) {
            .mylinks a {
                font-size: 18px;
                margin-left: 0px;
                margin-right: 10px;
            }
            ul {
                padding-left: 0%;
            }
        }

        @media (max-width: 480px) {
            header {
                flex-direction: column;
                align-items: center;
            }
            .mylinks a {
                font-size: 14px;
                margin-left: 10px;
                margin-right: 0px;
            }
            ul {
                padding-left: 0%;
            }
        }
        @media (max-width: 320px) {
            header {
                flex-direction: column;
                align-items: center;
            }
            .mylinks a {
                font-size: 14px;
                margin-left: 10px;
                margin-right: 0px;
            }
            ul {
                display: flex;
                padding-left: 0%;
                flex-direction: column;
                align-items: center;
            }
        }
    </style>
</head>
<body>
    <header>
        <a href="/" class="mytitle">
            <span class="mytitle">JK's Blog</span>
        </a>
    
        <ul class="mylinks">
            <li><a href="/">Home</a></li>
            <li><a href="/write">Write</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
</body>
</html>